* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* utility classes */
/* card */
.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

/* background  */

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-black {
  background: #000;
  color: #fff;
}

/* Text Classes */

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}
.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}
.text-lg {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

.tesla-img {
  color: #fff !important;
  background: #fff;
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

main {
  background: #fff !important;
  color: #333;
}

.btn-selected {
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.btn-selected:hover {
  transform: scale(1) !important;
}

#top-bar {
  transition: transform 0.5s ease-in-out;
}

.visible-bar {
  transform: translateY(0);
}
.hidden-bar {
  transform: translateY(-100%);
}
